* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-light: #3c3799;
    --primary: #230444;
    --secondary: #ED8240;
    --tertiary: #92140C;
    --quaternary: #D2EBE9;
    --grey: #a9afb7;
    --grey-dark: #353238;
    --max-width: 1170px;
    --transition: 0.3s ease-in-out all;
    --letter-spacing2: 0.2rem;
    --letter-spacing1: 0.1rem;
}

body {
    color: white;
    font-family: monospace;
    background-color: var(--primary-light);
}

.center {
    margin: 15px auto;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: monospace, serif, sans-serif;
    margin: 15px auto;
    font-size: 2.5rem;
    text-align: center;
}

.h3 {
    padding: 5px;
    height: auto;
    border-radius: 8px 8px 0 0;
    background-color: var(--primary);
    letter-spacing: var(--letter-spacing2);
    font-size: 1.08rem;
}

p {
    font-weight: bold;
    color: var(--quaternary);
    letter-spacing: var(--letter-spacing1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    margin-right: 15px;
}

ul {
    padding: 0.5rem;
    border-radius: 0 0 7px 7px;
    background-color: var(--grey-dark);
    letter-spacing: var(--letter-spacing1);
    box-shadow: inset 3px 3px 7px black, inset -3px -3px 7px black;
    height: 85px;
}

.cariste,
.logistique,
.mediateur {
    border-radius: 7px;
    box-shadow: inset 3px 3px 5px black, inset -3px -3px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    text-align: center;
}

.mediateur li {
    margin-top: 9px;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    padding: 0.5rem 0.8rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing1);
    transition: var(--transition);
    background-color: var(--tertiary);
}

.btn:hover {
    background-color: var(--grey-dark);
}

@media screen and (min-width: 1200px) {
    body {
        padding: 3em;
    }

    .center {
        margin: 5em auto;
    }
}