* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #230444;
  --primary-light: #3c3799;
  --secondary: #ED8240;
  --tertiary: #92140C;
  --quaternary: #D2EBE9;
  --grey: #a9afb7;
  --grey-dark: #353238;
  --fluid-width: 90vw;
  --max-width: 1000px;
  --transition: 0.3s ease-in-out all;
}

body {
  background-color: var(--secondary);
  font-family: monospace;
}

img {
  border-radius: 10%;
  border: #222 1px solid;
  box-shadow: 5px 5px 20px,
    -5px -5px 20px var(--secondary);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
}

article a {
  padding: 0.2rem;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--quaternary);
  background-color: var(--tertiary);
}

footer a {
  font-size: 2.7rem;
  color: var(--tertiary);
}

.grid {
  margin: 0 auto;
  padding: 1rem;
  height: 100vh;
  width: var(--fluid-width);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.header {
  grid-column: 1/1;
  grid-row: 1/1;
}

h1 {
  grid-column: 1/3;
  grid-row: 2/3;
  max-width: 750px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

article {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
}

footer {
  grid-column: 2/3;
  grid-row: 1/1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .grid {
    justify-items: stretch;
  }

  .header {
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 2/3;
    display: none;
  }

  h1 {
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 2rem;
  }

  article {
    grid-column: 1/3;
    grid-row: 1/1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  footer {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
  }
}