<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/experience.css" />
    <title>EXPERIENCES</title>
  </head>
  <body>
    <h1>EXPERIENCES</h1>
    <div class="center">
      <div class="cariste">
        <div class="h3">
          <h3><span class="titre"> CARISTE</span>2019 - 2021</h3>
        </div>
        <div>
          <p>
            Mise en stock et prélèvement <br />
            Chargement Et Déchargement De Camion
          </p>
        </div>
        <div>
          <ul>
            <li>
              Domaine Alimentaire:<br />
              ROQUETTE, AUCHAN Avec ID LOGISTICS
            </li>
            <li>
              Domaine Non Alimentaire :<br />
              AUCHAN ( JOUETS ) ID LOGISTICS
            </li>
          </ul>
        </div>
      </div>

      <div class="logistique">
        <div class="h3">
          <h3><span class="titre"> AGENT LOGISTIQUE</span>2016 - 2019</h3>
        </div>
        <div>
          <p>Domaine Textile à DISPEO Hem et Toufflers</p>
        </div>
        <div>
          <ul>
            <li>Manutention</li>
            <li>Gestion de stock</li>
            <li>Inventaire</li>
            <li>Emballage</li>
          </ul>
        </div>
      </div>
      <div class="mediateur">
        <div class="h3">
          <h3><span class="titre"> MEDIATEUR</span>2013 - 2014</h3>
        </div>
        <div>
          <p>Agent De Médiation Avec CITEO</p>
        </div>
        <div>
          <ul>
            <li>Villes</li>
            <li>Transports En Communs</li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <button class="btn">
        <a href="../../index.html">Page Principale</a>
      </button>
    </footer>
  </body>
</html>
