<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/formation.css" />
    <title>FORMATIONS</title>
  </head>
  <body>
    <h1>FORMATIONS</h1>
    <div class="grid">
      <div class="afci">
        <p>TP DWWM Chez l'AFCI is loading ...</p>
        <div class="espace"></div>
        <div class="loading"></div>
      </div>
      <div class="nurserie">
        <p>Nurserie Numérique M2i à Euratechnologie</p>
      </div>
      <div class="skilleos">
        <p>Modules En Ligne: HTML, CSS, GIT</p>
      </div>
      <div class="caces">
        <p>Caces 1.3.5. et 5+ {Validé}</p>
      </div>
      <div class="alarme">
        <p>
          Technicien De Système D'Alarme Anti-Intrusion Et Video Protection
          {Diplôme}
        </p>
      </div>
    </div>
    <button class="btn">
      <a href="../../index.html"> page principale </a>
    </button>
  </body>
</html>
