<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Changa:wght@200&family=Inconsolata:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/presentation.css" />
    <title>MA PRESENTATION</title>
  </head>
  <body>
    <div class="center">
      <header>
        <div class="divH1">
          <h1>Bonjour Je m'appelle <span> BABA KHOUYA Tarik</span></h1>
        </div>
        <div class="divPheader">
          <p>J'ai 31 ans et je suis en voie de reconversion profesionnel.</p>
        </div>
      </header>
      <article class="article1">
        <p>
          <!-- Pour atteindre cet objectif j’ai déjà commencé à suivre des modules
                en ligne depuis le début de l'année notamment sur la plateforme
                Skilleos afin d’approfondir les bases HTML CSS Git&GitHub. <br /> -->

          Acctuelement je suis une DWWM à l'AFCI situé rue de la vague à
          Villeneuve d'ascq.

          <!-- Au jour d'aujourd'hui 07-07-2022 nous avons étudié HTML, CSS, PHP &
                  SQL. <br /> -->
        </p>
      </article>
      <article class="article2">
        <div>
          <p>
            DISCRET, ATTENTIF À MON ENVIRONNEMENT DE TRAVAIL ET SÉRIEUX,<br />
            JE SAIS M’ADAPTER FACILEMENT AU SEIN D’UN NOUVEAU GROUPE.
            <br /><br />
            JE SUIS ÉGALEMENT TOUJOURS VOLONTAIRE POUR APPRENDRE AFIN DE FAIRE
            ÉVOLUER MES COMPÉTENCES ET ENRICHIR MON SAVOIR.
          </p>
        </div>
      </article>
      <article id="salutation">
        <div>
          <p>
            Dans l'attente de vous rencontrer, veuillez accepter, Madame,
            Monsieur, mes salutations les plus sincères.
          </p>
        </div>
      </article>
    </div>
    <footer>
      <button class="btn">
        <a href="../../index.html">Page Principale</a>
      </button>
    </footer>
  </body>
</html>
